div(class='col col-lg-4')
    div(class='card')
        a(href='/goods?id='+val['id'])
            h3(class='card-title text-center') #{val['name']}
            img(src='/images/'+ val['image'] class='card-image')
            p(class='text-center') #{val['cost'].toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$& ')}RUB
        ul(class='card-actions')
            li 
                button(class='button button-primary add-to-card'
        data-good_id=val['id']) to card