include header

div(class='wrap')
    header(class='site-header')
        include site_header.pug
    div(class='container')
        div.row
            each val2, index2 in cat
                div.col.col-lg-12
                    h2
                        a(href='/cat?id='+val2['id']) #{val2['category']}
                each val, index in goods
                    if val2['id'] == val['category']
                        include card.pug
include nav                         
include footer