p LOGIN
form(action='login' method='POST' class='form')
    label login
    input(name='login' value='admin123' id='login')
    label password 
    input(type="password" name='password' value="12345" id='password')
    input(type='submit' value='login')

script(src="admin.js")