div.site-nav
    div.close-button-div
        button.button-primary-outlined.close-nav x
    h3.card-header Goods
    div.category-list
    h3.card-header Card
    .card-nav
    .text-right
        a(href='/order'
        target='_blank')
            button.button-primary-outlined Order
    div.busket